/* 
    Created on : Jan 26, 2024, 12:11:14 AM
    Author     : Sumudu Chamika
*/ 

.button{
    -fx-background-color: transparent;
}

#openFile{
    -fx-background-image: url("../images/open-media.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#playButton{
    -fx-background-image: url("../images/play-button.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#pauseButton{
    -fx-background-image: url("../images/pause-button.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#stopButton{
    -fx-background-image: url("../images/stop-button.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}